# Dependencies
node_modules/

# Production
dist/
dist-server/

# Misc
.DS_Store
.env
.idea/
.vscode/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database
ponyfun.db
*.db-shm
*.db-wal
backend/ponyfun.db
backend/v85.db
backend/database.sqlite
