# Dependencies
node_modules/

# Production
dist/
dist-server/

# Misc
.DS_Store
.env
.idea/
.vscode/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database
backend/ponyfun.db
backend/ponyfun.db-shm
backend/ponyfun.db-wal
backend/database.sqlite
